.outercontainer{
    padding-top: 30px;
    padding-right: 0px;
}
mat-checkbox{
    margin-left: 30px;
    font-size: larger;
}
.is-complete{
    color: lightgray;
    text-decoration: line-through;
    input{
        text-decoration: line-through;
    }
}
.container{
    font-size: small;
    padding-right: 5px;
    padding-bottom: 5px;
    button:focus{
        outline: 0;
    }
}
.inputBox{
    padding-left: 25px;
    min-width: 950px;
    font-size: larger;
}
/* input{
    text-decoration: line-through;
} */

.outercontainer::-webkit-scrollbar {
    width: 1em;
    border-radius: 5px;
  }
   
  .outercontainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .outercontainer::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 1px solid slategrey;
    border-radius: 5px;;
  }