<app-navbar></app-navbar>
<!-- Pages -->

<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <h1 class="text-center display-1">Our Team</h1>
        <!-- Card stats -->
        <div class="row">
          <div class="card">
            <img class="card-img-top" src="assets/img/brand/vineet.jpg" alt="Card image" >
            <div class="card-body">
              <h3 class="card-title">Vineet Shah</h3>
              <h5 class="card-title">Full Stack Developer</h5>
              <p class="card-text">Graduate Information Systems Student at Northeastern University with an interest in Full-Stack Development, having industry experience in building web APIs for mobile and web applications. Professional experience working with MEAN Stack and added experience of working as a tech lead and project manager.</p>
              <a href="https://www.linkedin.com/in/vineetshah95/" class="btn btn-primary">See Profile</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="assets/img/brand/pritesh.jpg" alt="Card image"  >
            <div class="card-body">
              <h3 class="card-title">Pritesh Chauhan</h3>
              <h5 class="card-title">Full Stack Developer</h5>
              <p class="card-text">Resourceful Software Engineer with 2 years of experience in development and automation activities, skilled in problem-solving ability, reporting bugs and keeping track of the same, and directing development with creative and performance-oriented approach. Dedicated and enthusiastic in learning new technologies with strengths in finding optimized solutions.</p>
              <a href="https://www.linkedin.com/in/pritesh-chauhan/" class="btn btn-primary">See Profile</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="assets/img/brand/siddhant.jpg" alt="Card image"  >
            <div class="card-body">
              <h3 class="card-title">Siddhesh Rao</h3>
              <h5 class="card-title">Full Stack Developer</h5>
              <p class="card-text">Graduate student of Information Systems at Northeastern University, aspiring for knowledge and leadership. Supervised a team of 44 people to lead technical operations for a retail sportswear brand. Supported applications and provided IT solutions for banking and retail domain in a fast paced deadline driven environment. Soccer enthusiast and love to read books on leadership and human psychology.</p>
              <a href="https://www.linkedin.com/in/rao-siddhant/" class="btn btn-primary">See Profile</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="assets/img/brand/siddhesh.jpg" alt="Card image"  >
            <div class="card-body">
              <h3 class="card-title">Siddhesh Juhukar</h3>
              <h5 class="card-title">Full Stack Developer</h5>
              <p class="card-text">I am a Graduate Student at Northeastern University currently pursuing Masters in Information Systems majoring in Computer Software Engineering. I possess a keen interest in finding solutions to complex problems and utilizing my knowledge and skillset for the improvement and advancement of an organization while enhancing my knowledge simultaneously.</p>
              <a href="https://www.linkedin.com/in/siddheshjuhukar/" target="_blank" class="btn btn-primary">See Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container-fluid">
  <app-footer></app-footer>
</div>