<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a class="font-weight-bold ml-1" target="_blank">Web Designers</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://www.northeastern.edu/" class="nav-link" target="_blank">Northeastern University</a>
        </li>
        <li class="nav-item">
          <a href="/#/about-me" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="https://nucareers.northeastern.edu/" class="nav-link" target="_blank">myNEUcareers</a>
        </li>
      </ul>
    </div>
  </div>
</footer> 
