<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>

    <div class="container-fluid mt--7">
        <div class="row" style="margin-top: 230px;">
            <div class="container mt--8 pb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-7">
                        <div class="card bg-secondary shadow border-0">
                            <div class="card-body px-lg-5 py-lg-5">
                                <div class="text-center text-muted mb-4">
                                    <h3 class="mb-0">Change Password</h3>
                                </div>
                                <form role="form">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Old Password" type="password" id="password">
                                            <i id="pass_status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword('password', 'pass_status')"></i>
                                        </div>
                                    </div>


                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            <input type="password" id="newPassword" class="form-control" placeholder="New Password">
                                            <i id="npass_status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword('newPassword', 'npass_status')"></i>  
                                          </div>
                                    </div>


                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Confirm New Password" type="password" id="confirmPassword">
                                            <i id="cpass_status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword('confirmPassword', 'cpass_status')"></i>
                                          </div>
                                    </div>

                                    <div class="text-center">
                                      <button type="button" [routerLink]="['/login']" (click)="updatePassword();"  class="btn btn-primary my-4" style="background-color: red; color: #32325d;">Update Password</button>
                                    </div>       
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  