

<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Welcome!</h1>
            <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
          <div class="col-lg-5 col-md-7">
              <div class="card bg-secondary shadow border-0">
                  <div class="card-body px-lg-5 py-lg-5">
                      <div class="text-center text-muted mb-4">
                        <big class="text-center">Forgot Password</big>
                      </div>
                      <form role="form">

                        <div class="form-group mb-3" id="email">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" placeholder="Email" id="eadd" type="email">
                            </div>
                        </div>

                        <div class="form-group mb-3" id="resetCode" style="display: none;">
                          <div class="input-group input-group-alternative">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                              </div>
                              <input class="form-control" placeholder="Reset Code" id="rcode" type="text">
                              <input class="form-control" id="mailcode" type="hidden" >
                          </div>
                        </div>

                        <div class="form-group mb-3" id="newPassword" style="display: none;">
                          <div class="input-group input-group-alternative">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                              </div>
                              <input class="form-control" placeholder="Enter New Password" type="password" id="npass">
                              <i id="pass_status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword('npass', 'pass_status')"></i>
                          </div>
                        </div>

                        <div class="form-group mb-3" id="cnewPassword" style="display: none;">
                          <div class="input-group input-group-alternative">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                              </div>
                              <input class="form-control" placeholder="Confirm New Password" type="password" id="cnpass">
                              <i id="cnpass_status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword('cnpass', 'cnpass_status')"></i>
                          </div>
                        </div>

                        <div class="text-center">
                          <button type="button" id="resetButton" class="btn btn-primary my-4" (click)="sendEmail();" >Get Reset Link</button>
                          
                          <button type="button" [routerLink]="['/login']" id="submitPassword" (click)="forgotPassword();"  class="btn btn-primary my-4" style="display: none; float: left;">Submit</button>
                          <a href="/#/login" id="cancelButton" class="btn btn-primary my-4" >Cancel</a>
                        </div>       

                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  